/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    color: #ff6347;
  }
  
  i {
    margin-right: 8px;
  }
  
  /* Seções */
  main {
    padding: 20px;
  }
  
  .section {
    display: none;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  /* Visibilidade das seções */
  section {
    display: none;
  }
  
  #home {
    display: block;
  }

